.numbox {
	width: 15px;
	-moz-appearance: none;
	border: 1px dotted !important;
	background-color: transparent;
	margin-right: 1px !important;
}

description {
	margin-bottom: 1px;
}

.hideLabel > label {
	display: none;
}

.hideLabel {
	margin-left: 2px;
}

prefpane > .content-box {
overflow: -moz-hidden-unscrollable;
}

